.InvoiceInput {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1em 1em;
}

.InvoiceInput--Details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1em 0 1em 0;
}

.InvoiceInput--Controls {
  justify-content: flex-end;
  margin: 0 0.5em;
  align-self: flex-end;
  padding-top: 1em;
  margin: 0 0 1.5em 0;
}

.InvoiceGrid {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5em 1em;
  
}

.InvoiceGrid--Headings {
  display: flex;
  border-bottom: 1px solid #ccced2;
  margin: 0.5em;
}

.InvoiceGrid--Content {
  display: flex;
  border-bottom: 1px solid #ccced2;
  padding: 1em 0;
  margin: 0 0.5em;
}

.InvoiceGrid--Description {
  flex: 3 1 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.InvoiceGrid--Items {
  white-space: nowrap;
  flex: 1 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.InvoiceFooter {
  display: flex;
  justify-content: flex-end;
  margin: 0.5em;
}

.InvoiceFooter-Totals {
  max-width: 50%;
  min-width: 35%;
}

.InvoiceFooter-Total {
  margin-top: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccced2;
  align-items: baseline;
  display: flex;
}

.InvoiceFooter-Submit {
  margin-top: 2em;
  padding-bottom: 1em;
  align-items: baseline;
}

.InvoiceFooter-AmountDueNumber {
  font-weight: 600;
  font-size: 1.4em;
  margin-left: auto;
}

.InvoiceInput-Flex {
  flex: 1;
  margin: 0 0.5em;
  width: 150px;
}

.InvoiceInput--Description {
  display: inherit;
  flex: 2;
  justify-content: inherit;
  margin: 0 0 1.5em 0;
}

.InvoiceInput--QuantityCosts {
  display: inherit;
  flex: 1;
  justify-content: inherit;
  margin: 0 0 1.5em 0;
}

.InvoiceSubmit {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}


.StatusColor--Warning {
  color: #f6534e;
}

@media only screen and (max-width: 600px) {
  .InvoiceGrid--Description {
    flex: 1;
  }  
}






